.slide {
    .container {
        margin: 0;
        padding: 0;
        width: 100%;

        .caroussel {
            margin: 0;
            padding: 0;
            width: 100%;

            .swipper {
                margin: 0;
                padding: 0;
                height: 100vh;
                width: 100%;
                max-height: 100vh;

                .swiper-pagination-fraction {
                    bottom: 10px;
                }

                .swiper-button-next,
                .swiper-button-prev {
                    top: 50%;
                    transform: translateY(-50%);
                    width: 50px;
                    height: 50px;

                    &::after {
                        font-size: 20px;
                    }
                }

                .swipperslide {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    height: 100vh;

                    img {
                        width: 100%; 
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .container .caroussel .swipper .swipperslide {
            height: auto; // Style spécifique pour tablette
        }
    }

    @media (max-width: 480px) {
        .container .caroussel .swipper .swipperslide {
            height: auto; // Style spécifique pour mobile
        }
    }
}
