.slide {
    .container {
        margin: 0; // Assurez-vous qu'il n'y a pas de marge autour de votre conteneur
        padding: 0; // Assurez-vous qu'il n'y a pas de rembourrage autour de votre conteneur
        width: 100%; // Assurez-vous que le conteneur occupe toute la largeur

        .caroussel {
            margin: 0;
            padding: 0;
            width: 100%; // Assurez-vous que le carrousel occupe toute la largeur

            .swipper {
                margin: 0;
                padding: 0;
                height: 100vh;
                width: 100%; // Assurez-vous que le swiper occupe toute la largeur
                max-height: 100vh; // Limitez la hauteur du carrousel si nécessaire

                .swiper-pagination-fraction {
                    bottom: 10px; // Si vous voulez déplacer la pagination
                }

                .swiper-button-next,
                .swiper-button-prev {
                    top: 50%;
                    transform: translateY(-50%);
                    width: 50px;
                    height: 50px;

                    &::after {
                        font-size: 20px;
                    }
                }

                .swipperslide {
                    margin: 0;
                    padding: 0;
                    width: 100%; // Assurez-vous que ces dimensions sont celles que vous voulez
                    height: 100vh; // Assurez-vous que chaque slide occupe toute la largeur

                    img {
                        width: 100%; 
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}